<html>
    <head>
        <title>Twitter Sentiment Analysis || Yogesh Nile</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="loginbox">
        <a href="/"><img src="{{ url_for('static', filename='logo.png') }}" class="avatar"></a>
            <h1>Sentiment Analysis</h1>
            <form method="post" name="Userinput" id="Userinput" action="/sentiment">
                <p>UserID</p>
                <input type="text" name="userid" placeholder="Enter UserID without @">
                <p>HashTag</p>
                <input type="text" name="hashtag" placeholder="Enter HashTag with #">
                <center><button type="submit" class="btn btn-light btn-outline-success" id="sendMessageButton">Get Analysis</button></center>
                <br>
                <center><a href="/"><h6 style="color: red" >{{ error }}</h6></a></center>
                <a href="https://bit.ly/2Ky3ho6" class="fa fa-linkedin-square" style="font-size:36px" target="_black"></a>
                <a href="https://bit.ly/2yoggit" class="fa fa-github" style="font-size:36px" target="_black"> </a>
                <a href="https://bit.ly/3dbLJLC" class="fa fa-twitter-square" style="font-size:36px" target="_black"> </a>
                <a href="https://bit.ly/32SXHV0" class="fa fa-instagram" style="font-size:36px" target="_black"></a>

            </form>  
        </div>
    </body>
</html>